<div class="container">
  <form (submit)="sendDataToService()">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="cliente.nombre" required>
    </div>
  
    <div class="form-group">
      <label for="cif">Email</label>
      <input type="text" class="form-control" id="cif" name="cif" [(ngModel)]="cliente.email" required>
    </div>
  
    <div class="form-group">
      <label for="grupo">Mensaje</label>
      <textarea class="form-control" id="grupo" rows="3" name="mensaje" [(ngModel)]="cliente.mensaje"></textarea>
    </div>

    <div class="form-group">
      <label for="direccion">2 + 3 = ?</label>
      <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="cliente.operacion" required>
    </div>
  
    <button type="submit" class="btn btn-primary mb-3 mt-3">Enviar</button>
  </form>
</div>
